@import '../../variables.scss';

.root {
  width: 100%;
  margin: 20px auto;

  h1 {
    font-size: 14px;
    font-weight: bold;
    color: #1c1c1c;
    margin-bottom: 12px;
  }
}

h1 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.box {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px #e4e4e4;
  background-color: #fefefe;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;

  .title {
    font-size: 16px;
    color: $font-color;
    padding-bottom: 8px;
    font-weight: 600;
    line-height: 1.56;
    text-align: right;
  }

  hr {
    width: calc(100% + 32px);
    margin-right: -16px;
    border-color: rgba(0, 0, 0, 0.1);
    border-top: 0;
  }
}

p {
  margin: 0;
  padding: 0;
}

.buttons {
  width: calc(100% - 20px);
  max-width: 185px;
  margin: 5px 10px;
  height: 45px;
  border-radius: 7px;
}

@media (max-width: 440px) {
  .root {
    width: 100%;
  }
}

.errorText {
  font-size: 10px;
  text-align: justify;
  color: #f5222d;
  margin-top: 0;
  display: flex;
  margin-bottom: 12px;
}
