@import '../variables';

.buttonContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-bottom: 4vh;

  & > * {
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

:global {
  .ant-alert-message {
    margin-right: -14px !important;
  }

  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) .anticon:not(:last-child) {
    margin-left: 14px;
  }
}

@media (max-width: 440px) {
  .buttonContainer {
    width: 100%;
    margin: 0 auto 2em auto;
  }
}

.buttonColor {
  background-color: var(--Button-primary-color) !important;
  border: var(--Button-primary-color) !important;
}
