@import '../../variables';

.exitBtnIcon {
  color: var(--Button-primary-color) !important;
  margin-left: 8px;
  margin-top: 3px;

  svg {
    width: 14px !important;
    height: 14px !important;
  }
}

.buttonColor {
  border-color: var(--Button-primary-color) !important;

  span {
    color: var(--Button-primary-color);
  }
}
